In [2]:
# For loops

# loop a determined number of times

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for indexVar in range(10):
    print(indexVar, end = " ")

0 1 2 3 4 5 6 7 8 9

In [4]:
for indexVar2 in range(10):
    print(i)

9
9
9
9
9
9
9
9
9
9

In [6]:
for i in range(0,10,2):
    print(i, end = " ")

0 2 4 6 8

In [3]:
# looping through container data
# create a list 

my_list = [1,2,3,4,5,6,7,8,"hello info"]
for item in my_list:
    #do something with item
    if(type(item) == type(" ")):
        # this is the 'hello world string'
        print(item)
    else:
        # print(f"Square of {item} is {item **2}", end = " ")
        print(f"Square of {item} is {item **2}")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
hello info

In [8]:
type(" ")

str

In [11]:
# assigning int to a value (not advisable)
int(5.2)

5

In [12]:
int = 10

In [13]:
int(5.2)

TypeError: 'int' object is not callable

In [14]:
type(int)

int

In [15]:
type(float)

type

In [2]:
# after restarting the kernel and clearing the variables
type(int)

type

In [8]:
t = (1,2)
type(t)
idx,value = t
print(idx,value)

1 2

In [9]:
# looping through container data
# create a list using enumerate

my_list = [1,2,3,4,5,6,7,8,"hello info"]

for idx,item in enumerate(my_list):
    #do something with item
    # if(type(item) == type(" ")):
    #     # this is the 'hello world string'
    #     print(item)
    # else:
    #     # print(f"Square of {item} is {item **2}", end = " ")
    #     print(f"Square of {item} is {item **2}")
    print(f"item at index {idx} is {item}")

item at index 0 is 1
item at index 1 is 2
item at index 2 is 3
item at index 3 is 4
item at index 4 is 5
item at index 5 is 6
item at index 6 is 7
item at index 7 is 8
item at index 8 is hello info

In [10]:
test_enumerated = enumerate([1,2,3,4])

In [11]:
type(test_enumerated)

enumerate

In [12]:
dir(test_enumerated)

['__class__',
 '__class_getitem__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
next(test_enumerated)

In [1]:
for outerVar in range(3):
    for innerVar in range(3):
        print(outerVar,innerVar)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [2]:
# applied version of the nested loop
# names =  [{'name': 'kyle', 'grades' : [100,89,90]}, {'name':'andrew', 'grades':[45, 68,50]}, {'name':'john', 'grades': [100,100,99]}]
kyle = {'name': 'kyle', 'grades' : [100,89,90], 'final' : 'A'}
andrew = {'name':'andrew', 'grades':[45, 68,50], 'final': 'A'}
john = {'name':'john', 'grades': [100,100,99], 'final' : 'D'}
names = [kyle, andrew, john]

In [6]:
names

[{'name': 'kyle', 'grades': [100, 89, 90], 'final': 'A'},
 {'name': 'andrew', 'grades': [45, 68, 50], 'final': 'A'},
 {'name': 'john', 'grades': [100, 100, 99], 'final': 'D'}]

In [7]:
# get students that scored an A
for student in names:
    print(student)

{'name': 'kyle', 'grades': [100, 89, 90], 'final': 'A'}
{'name': 'andrew', 'grades': [45, 68, 50], 'final': 'A'}
{'name': 'john', 'grades': [100, 100, 99], 'final': 'D'}

In [3]:
for student in names:
    for grade_item in student['grades']:
        print(f"{student['name']}, marks: {grade_item}")

kyle, marks: 100
kyle, marks: 89
kyle, marks: 90
andrew, marks: 45
andrew, marks: 68
andrew, marks: 50
john, marks: 100
john, marks: 100
john, marks: 99

In [4]:
# assume we didn't have a final grade
#A_students = []
for student in names:
    # placeholder 
    # total = 0
    # for grade_item in student['grades']:
    #     total + = 
    
    #get average
    mean_grade = sum(student['grades']) / len(student['grades'])
    if (mean_grade) > 90:
        print (f"{student['name']} scored an A!")
        #A_students.append

kyle scored an A!
john scored an A!

In [7]:
# assume we didn't have a final grade
A_students = []
for student in names:
    # placeholder 
    # total = 0
    # for grade_item in student['grades']:
    #     total + = 
    
    #get average
    mean_grade = sum(student['grades']) / len(student['grades'])
    if (mean_grade) > 90:
        print (f"{student['name']} scored an A!")
        A_students.append(student['name'])

kyle scored an A!
john scored an A!

In [8]:
A_students

['kyle', 'john']

In [10]:
A_students = []
for student in names:
    total = 0
    for grade_item in student['grades']:
        total += grade_item
       
    #get average
    meanG = total/len(student['grades'])
    if (meanG) > 90:
        print (f"{student['name']} scored an A!")
        A_students.append(student['name'])

kyle scored an A!
john scored an A!

In [ ]:
# create a casino program

# games: allow user to pick from a number of games

#bets within the games

# how much money is in your account 

# stats/leaderboards: 

# game rules : min bet, maximum bets etc