In [ ]:
# [(]*\d{3}[)]*[-\s]\d{3}[-\s]\d{4}   # from regex101.com in class for phone numbers

In [75]:
# function that determines whether an email is valid?

def valid_email(email:str):   
    username,domain = email.split('@') 
    if not username or not domain:
        return False
    # return true if valid
    if '@' in email and '.' in email and len(email) >= 6 and email.endswith(".edu"):
        return True
    else:
        return False

In [77]:
email_in = input("what's your email address")
print (valid_email(email_in.strip()))

False

In [74]:
# testing
s = 'email@domain.edu'

username, domain = s.split('@')
print(username, domain)

email domain.edu

In [78]:
import re

In [98]:
def regex_valid_email(email):
    # re.search (pattern we're interested in, string we're searching, flags)
    # general form of an email address?
    # username@domain
    if re.search(r'^\S+@.+\.edu$', email):
        return True
    else:
        return False

In [100]:
email_in = input("what's your email address")
print (regex_valid_email(email_in.strip()))

True

In [101]:
import re
import pandas as pd

In [103]:
my_string1 = r"The codes we use are 1Ff1 and 1Ff5"
my_string2 = r" 1Ff0 We sometimes use only 1Ff0 "
pattern = re.compile(r'1Ff0')

x = re.findall('1Ff0', my_string2)
x2 = re.findall('1Ff0', my_string1)
print(bool( x))
print(x)
print(x2)
print(bool(x2))

True
['1Ff0', '1Ff0']
[]
False

In [104]:
pattern.findall(my_string1)

[]

In [105]:
pattern.search(my_string2)

In [106]:
# use regex to substitute
re.sub(r'9',r'nine',r'9,9,9,9,9,9,9,9,9')

'nine,nine,nine,nine,nine,nine,nine,nine,nine'

In [107]:
s = r'Download the data into your own tools and systems to analyze the virus’s spread or decline, investigate COVID-related deaths, study the effects of different vaccines, and more in 20,000-plus locations worldwide.'

In [108]:
def fourLetterWords(s):
    return re.findall(r'\b[a-zA-Z]{4}\b',s)
def fourLetterWords_2(s):
    return re.findall(r'\b\w{4}\b',s)

In [109]:
fourLetterWords(s)

['data', 'into', 'your', 'more', 'plus']

In [110]:
fourLetterWords_2(s)

['data', 'into', 'your', 'more', 'plus']

In [111]:
df = pd.read_csv('data/report.csv')
df.head(5)

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [112]:
type(df.columns)

pandas.core.indexes.base.Index

In [113]:
# convert columns into a list
col_list = df.columns.to_list()

In [114]:
# get rid of all special characters in the columns
new_cols = []
for col in col_list:
    new_cols.append(re.sub(r'\W','',col))

In [53]:
new_cols

['Countryregion',
 'Ladder',
 'SDofLadder',
 'Positiveaffect',
 'Negativeaffect',
 'Socialsupport',
 'Freedom',
 'Corruption',
 'Generosity',
 'LogofGDPpercapita',
 'Healthylifeexpectancy']

In [115]:
df.columns=new_cols
df.head(5)

,Countryregion,Ladder,SDofLadder,Positiveaffect,Negativeaffect,Socialsupport,Freedom,Corruption,Generosity,LogofGDPpercapita,Healthylifeexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [116]:
# countries that start with an N
df.Countryregion.str.extract(r"(^N\w*)").dropna()

               0
2         Norway
4    Netherlands
7            New
44     Nicaragua
63      Northern
84       Nigeria
99         Nepal
112      Namibia
113        Niger

In [120]:
df['longCountries'] = df.Countryregion.str.extract(r"(\w{5,})")
df.longCountries

0          Finland
1          Denmark
2           Norway
3          Iceland
4      Netherlands
          ...
151         Rwanda
152       Tanzania
153    Afghanistan
154        Central
155          South
Name: longCountries, Length: 156, dtype: object

In [119]:
df['countryCode'] = df['Countryregion'].str.extract(r'(\w{3})')
df.countryCode

0      Fin
1      Den
2      Nor
3      Ice
4      Net
      ...
151    Rwa
152    Tan
153    Afg
154    Cen
155    Sou
Name: countryCode, Length: 156, dtype: object

In [121]:
df[df.Countryregion.str.contains(r'^A')]

,Countryregion,Ladder,SDofLadder,Positiveaffect,Negativeaffect,Socialsupport,Freedom,Corruption,Generosity,LogofGDPpercapita,Healthylifeexpectancy,longCountries,countryCode
9,Austria,10,10,64.0,24.0,31.0,26.0,19.0,25.0,16.0,15.0,Austria,Aus
10,Australia,11,26,47.0,37.0,7.0,17.0,13.0,6.0,18.0,10.0,Australia,Aus
46,Argentina,47,97,28.0,93.0,46.0,54.0,109.0,123.0,55.0,37.0,Argentina,Arg
87,Algeria,88,56,113.0,106.0,101.0,149.0,46.0,128.0,72.0,78.0,Algeria,Alg
89,Azerbaijan,90,24,134.0,20.0,104.0,101.0,22.0,146.0,65.0,82.0,Azerbaijan,Aze
106,Albania,107,126,90.0,108.0,133.0,87.0,134.0,60.0,81.0,40.0,Albania,Alb
115,Armenia,116,82,126.0,145.0,117.0,123.0,93.0,129.0,91.0,64.0,Armenia,Arm
153,Afghanistan,154,25,152.0,133.0,151.0,155.0,136.0,137.0,134.0,139.0,Afghanistan,Afg

In [122]:
df = pd.read_csv("data/Restaurant_Reviews.tsv", sep = '\t')
df

,Review,Liked
0,Wow... Loved this place.,1
1,Crust is not good.,0
2,Not tasty and the texture was just nasty.,0
3,Stopped by during the late May bank holiday off Rick Steve recommendation and loved it.,1
4,The selection on the menu was great and so were the prices.,1
...,...,...
995,I think food should have flavor and texture and both were lacking.,0
996,Appetite instantly gone.,0
997,Overall I was not impressed and would not go back.,0
998,"The whole experience was underwhelming, and I think we'll just go to Ninja Sushi next time.",0
999,"Then, as if I hadn't wasted enough of my life there, they poured salt in the wound by drawing out the time it took to bring the check.",0

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  1000 non-null   object
 1   Liked   1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [ ]:
x = df.Review.str.contains(r"menu")
display(type(x))
display(x)

In [ ]:
#contains both menu and price
df[df.Review.str.contains(r"menu")&df.Review.str.contains(r"price")]

In [ ]:
df.Review.str.contains(r"menu")

In [ ]:
#reviews with a question
df[df.Review.str.contains("\?")]

In [ ]:
#talk about kids 
df[df.Review.str.contains(r"\bchild[\w]*|kid[s]?") & (df.Liked == 1)]

In [ ]:
# find reviews that contain money
df[df.Review.str.contains("\$")]

In [ ]:
# extract capitalized words longer than 4 characters
x = df.Review.str.extract(r'\b(?P<shouted>[A-Z]{4,})\b').dropna()
df_new = pd.concat([x,df],axis = 1).dropna()
df_new

In [126]:
#stuff within quotation marks
# df2 = pd.concat([df.Review.str.extract(r"\"(.*?)\""),df],axis=1).dropna().rename(columns={0:"quoted"})
df2 = pd.concat([df.Review.str.extract(r"\"(.*?)\""),df],axis=1).dropna()

df2.rename(columns={0:"quoted"})

,quoted,Review,Liked
228,"mains,","As for the ""mains,"" also uninspired.",0
236,yum yum sauce,"The descriptions said ""yum yum sauce"" and another said ""eel sauce"", yet another said ""spicy mayo""...well NONE of the rolls had sauces on them.",0
244,you couldn't pay me to eat at this place again.,"like the other reviewer said ""you couldn't pay me to eat at this place again.""",0
337,Gold Standard,"The burger... I got the ""Gold Standard"" a $17 burger and was kind of disappointed.",0
547,"hello, we will be right with you.","not even a ""hello, we will be right with you.""",0
566,Are you being helped?,"The servers went back and forth several times, not even so much as an ""Are you being helped?""",0
593,crumby,"It was extremely ""crumby"" and pretty tasteless.",0
657,LEGIT,"That just SCREAMS ""LEGIT"" in my book...somethat's also pretty rare here in Vegas.",1
708,to go,"Service is quick and even ""to go"" orders are just like we like it!",1
772,real traditional Hunan style,"the food is not tasty at all, not to say its ""real traditional Hunan style"".",0
969,ya'all,"I don't know what the big deal is about this place, but I won't be back ""ya'all"".",0

In [ ]:
# match long words greater than 10 in length

df6 = pd.concat([df.Review.str.findall(r"([\w]{10,})").rename("Long"),df],axis=1)
df6[df6.Long.apply(len)>1]

In [127]:
#extract cost
df2 = pd.concat([df.Review.str.extract(r"(\$\d+\.?\d+)"),df],axis=1).dropna().rename(columns={0:"cost"})
df2

,cost,Review,Liked
318,$20,"And considering the two of us left there very full and happy for about $20, you just can't go wrong.",1
328,$4.00,"I go to far too many places and I've never seen any restaurant that serves a 1 egg breakfast, especially for $4.00.",0
337,$17,"The burger... I got the ""Gold Standard"" a $17 burger and was kind of disappointed.",0
650,$35,Very Very Disappointed ordered the $35 Big Bay Plater.,0
792,$7.85,Paying $7.85 for a hot dog and fries that looks like it came out of a kid's meal at the Wienerschnitzel is not my idea of a good meal.,0
936,$12,"The sangria was about half of a glass wine full and was $12, ridiculous.",0
985,$11.99,The problem I have is that they charge $11.99 for a sandwich that is no bigger than a Subway sub (which offers better and more amount of vegetables).,0

In [ ]:
#extract all words repeated at least 3 times
df1 = pd.concat([df.Review.str.extract(r".*(\b\w+\b)(?:.*?\b\1\b){3,}"),df],axis=1).dropna().rename(columns={0:"repeated_word"})
df1

In [ ]:
dfx = pd.concat([df.Review.str.extract(r'.*(?P<repeated>\b\w+\b)(?:.*?\b\1\b){2,3}'),df],axis = 1).dropna()
dfx

In [ ]:
#extract hyphenated words
df4 = pd.concat([df.Review.str.extract(r"(\b[\w]*?-[\w-]+)"),df],axis=1).dropna().rename(columns={0:"Hyphenated"})
#x =df.Review.str.extract(r"(\b\w{2,}-[\w-]+)")
#display(type(x))
#x.dropna(inplace=True)
df4

In [ ]:
df.head(5)

In [56]:
df.filter(regex = "Liked|Rev")

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[156 rows x 0 columns]

In [ ]:
sentence = 'Start a sentence and bring it to an end'
string_to_search = '''
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
1234567890
'''

In [ ]:
import re

In [ ]:

pattern = re.compile(r'Hill')

In [ ]:
pattern

In [ ]:
matches = pattern.finditer(string_to_search)

In [ ]:
type(matches)
print(string_to_search[1196:1200])

In [ ]:
x = []
for match in matches:
    print(match)
    x = match

In [ ]:
x.string

In [ ]:
dir(x)

In [ ]:
phones = r"([\d]{3}[-.]+[\d]{3}[-.]+[\d]{4})"