In [ ]:
import re
import pandas as pd

In [ ]:
my_string1 = r"The codes we use are 1Ff1 and 1Ff5"
my_string2 = r"We sometimes use only 1Ff0"
pattern = re.compile(r'1Ff0')

x = re.findall('1Ff0', my_string2)
x2 = re.findall('1Ff0', my_string1)
print(bool( x))
print(x)
print(x2)
print(bool(x2))

In [ ]:
pattern.findall(my_string1)

In [ ]:
pattern.search(my_string2)

In [ ]:
# use regex to substitute
re.sub(r'9',r'nine',r'9,9,9,9,9,9,9,9,9')

In [ ]:
s = r'Download the data into your own tools and systems to analyze the virus’s spread or decline, investigate COVID-related deaths, study the effects of different vaccines, and more in 20,000-plus locations worldwide.'

In [ ]:
def fourLetterWords(s):
    return re.findall(r'\b[a-zA-Z]{4}\b',s)
def fourLetterWords_2(s):
    return re.findall(r'\b\w{4}\b',s)

In [ ]:
fourLetterWords(s)

In [ ]:
fourLetterWords_2(s)

In [ ]:
df = pd.read_csv('data/report.csv')
df.head(5)

In [ ]:
type(df.columns)

In [51]:
col_list = df.columns.to_list()

In [52]:
# get rid of all special characters in the columns
new_cols = []
for col in col_list:
    new_cols.append(re.sub(r'\W','',col))

In [53]:
new_cols

['Countryregion',
 'Ladder',
 'SDofLadder',
 'Positiveaffect',
 'Negativeaffect',
 'Socialsupport',
 'Freedom',
 'Corruption',
 'Generosity',
 'LogofGDPpercapita',
 'Healthylifeexpectancy']

In [54]:
df.columns=new_cols
df.head(5)

In [55]:
df.Countryregion.str.extract(r"(^N\w*)").dropna()

               0
2         Norway
4    Netherlands
7            New
44     Nicaragua
63      Northern
84       Nigeria
99         Nepal
112      Namibia
113        Niger

In [ ]:
df['longCountries'] = df.Countryregion.str.extract(r"(\w{5,})")

In [ ]:
df['countryCode'] = df['Countryregion'].str.extract(r'(\w{3})')

In [ ]:
df[df.Countryregion.str.contains(r'^A')]

In [ ]:
df = pd.read_csv("data/Restaurant_Reviews.tsv", sep = '\t')
df

In [ ]:
df.info()

In [ ]:
x = df.Review.str.contains(r"menu")
display(type(x))
display(x)

In [ ]:
#contains both menu and price
df[df.Review.str.contains(r"menu")&df.Review.str.contains(r"price")]

In [ ]:
df.Review.str.contains(r"menu")

In [ ]:
#reviews with a question
df[df.Review.str.contains("\?")]

In [ ]:
#talk about kids 
df[df.Review.str.contains(r"\bchild[\w]*|kid[s]?") & (df.Liked == 1)]

In [ ]:
# find reviews that contain money
df[df.Review.str.contains("\$")]

In [ ]:
# extract capitalized words longer than 4 characters
x = df.Review.str.extract(r'\b(?P<shouted>[A-Z]{4,})\b').dropna()
df_new = pd.concat([x,df],axis = 1).dropna()
df_new

In [ ]:
#stuff within quotation marks
df2 = pd.concat([df.Review.str.extract(r"\"(.*?)\""),df],axis=1).dropna().rename(columns={0:"quoted"})
df2

In [ ]:
# match long words greater than 10 in length

df6 = pd.concat([df.Review.str.findall(r"([\w]{10,})").rename("Long"),df],axis=1)
df6[df6.Long.apply(len)>1]

In [ ]:
#extract cost
df2 = pd.concat([df.Review.str.extract(r"(\$\d+\.?\d+)"),df],axis=1).dropna().rename(columns={0:"cost"})
df2

In [ ]:
#extract all words repeated at least 3 times
df1 = pd.concat([df.Review.str.extract(r".*(\b\w+\b)(?:.*?\b\1\b){3,}"),df],axis=1).dropna().rename(columns={0:"repeated_word"})
df1

In [ ]:
dfx = pd.concat([df.Review.str.extract(r'.*(?P<repeated>\b\w+\b)(?:.*?\b\1\b){2,3}'),df],axis = 1).dropna()
dfx

In [ ]:
#extract hyphenated words
df4 = pd.concat([df.Review.str.extract(r"(\b[\w]*?-[\w-]+)"),df],axis=1).dropna().rename(columns={0:"Hyphenated"})
#x =df.Review.str.extract(r"(\b\w{2,}-[\w-]+)")
#display(type(x))
#x.dropna(inplace=True)
df4

In [ ]:
df.head(5)

In [56]:
df.filter(regex = "Liked|Rev")

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[156 rows x 0 columns]

In [ ]:
sentence = 'Start a sentence and bring it to an end'
string_to_search = '''
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
1234567890
'''

In [ ]:
import re

In [ ]:

pattern = re.compile(r'Hill')

In [ ]:
pattern

In [ ]:
matches = pattern.finditer(string_to_search)

In [ ]:
type(matches)
print(string_to_search[1196:1200])

In [ ]:
x = []
for match in matches:
    print(match)
    x = match

In [ ]:
x.string

In [ ]:
dir(x)

In [ ]:
phones = r"([\d]{3}[-.]+[\d]{3}[-.]+[\d]{4})"